{% extends 'base.html.twig' %}
{% block body %}
<div class="registration-form">
    <h2>Регистрация</h2>
    <form method="post">
        <label for="status">Выберите ваш статус:</label><br>
        <select name="status" id="status" required>
            <option value="student">Студент</option>
            <option value="teacher">Представитель ВУЗа</option>
        </select><br><br>

        <label for="login">Логин:</label><br>
        <input type="text" id="username" name="username" required><br><br>

        <label for="last-name">Фамилия:</label><br>
        <input type="text" id="last-name" name="last-name" required><br><br>

        <label for="first-name">Имя:</label><br>
        <input type="text" id="first-name" name="first-name" required><br><br>

        <label for="university">Университет:</label><br>
        <select name="university" id="university" required>
            <option disabled selected>Не выбрано</option>
            {% for university in universities %}
                <option value="{{ university.id }}">{{ university.name }}</option>
            {% endfor %}
        </select><br><br>

        <label class="select-group" for="group">Группа:</label><br>
        <select class="select-group" disabled name="group" id="group">
        </select><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">Пароль:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <input type="submit" value="Зарегистрироваться">
    </form>
</div>
<script>
    document.getElementById("status").addEventListener('change', ev => {
        const el = document.getElementsByClassName('select-group')
        if (ev.target.value === 'teacher') {
            for (let i = 0; i < el.length; i++) {
                el.item(i).classList.add('hideme')
            }
        } else {
            for (let i = 0; i < el.length; i++) {
                el.item(i).classList.remove('hideme')
            }
        }
    })
    document.getElementById('university').addEventListener('change', (e) => {
        const groupEl = document.getElementById('group')
        console.log(`http://localhost:8000/regroups?university_id=${e.target.value}`)
        fetch(`http://localhost:8000/regroups?university_id=${e.target.value}`).then(res => res.json()).then(res => {
            groupEl.removeAttribute('disabled')
            groupEl.childNodes.forEach((v) => {
                v.remove()
            })
            res.groups.forEach((item) => {
                let opt = document.createElement('option')
                opt.value = item.id
                opt.innerHTML = item.name
                groupEl.appendChild(opt)
            })
        })
    })
</script>
{% endblock %}