* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333; /* Цвет текста */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, hsl(195, 100%, 90%), #edf3ff); /* Начальный градиент */
    animation: gradientAnimation 48s linear infinite; /* Плавная анимация градиента */
    transition: background-color 2s; /* Плавный переход цвета фона */
}

/* Ключевые кадры анимации для плавного градиента */
@keyframes gradientAnimation {
    0%, 100% {
        background: linear-gradient(to bottom, #dbe7ff, #edf3ff); /* Начальный и конечный градиенты */
    }
    5% {
        background: linear-gradient(to bottom, #dbe7ff, hsl(195, 100%, 94%)); /* Градиент от #dbe7ff к более светлому цвету */
    }
    10% {
        background: linear-gradient(to bottom, #dbe7ff, hsl(195, 100%, 94%)); /* Градиент от #dbe7ff к более светлому цвету */
    }
    15% {
        background: linear-gradient(to bottom, hsl(195, 100%, 94%), hsl(195, 100%, 96%));
    }
    20% {
        background: linear-gradient(to bottom, hsl(195, 100%, 96%), hsl(195, 100%, 98%));
    }
    25% {
        background: linear-gradient(to bottom, hsl(195, 100%, 98%), #edf3ff); /* Градиент к #edf3ff */
    }
    30% {
        background: linear-gradient(to bottom, #edf3ff, #edf3ff);
    }
    35% {
        background: linear-gradient(to bottom, #edf3ff, hsl(195, 100%, 94%));
    }
    40% {
        background: linear-gradient(to bottom, hsl(195, 100%, 94%), hsl(195, 100%, 94%));
    }
    45% {
        background: linear-gradient(to bottom, hsl(195, 100%, 94%), #edf3ff);
    }
    50% {
        background: linear-gradient(to bottom, #edf3ff, hsl(195, 100%, 94%));
    }
    55% {
        background: linear-gradient(to bottom, hsl(195, 100%, 94%), #edf3ff);
    }
    60% {
        background: linear-gradient(to bottom, #edf3ff, #edf3ff);
    }
    65% {
        background: linear-gradient(to bottom, #edf3ff, #edf3ff);
    }
    70% {
        background: linear-gradient(to bottom, #edf3ff, #edf3ff);
    }
    75% {
        background: linear-gradient(to bottom, #edf3ff, hsl(195, 100%, 98%)); /* Градиент к #edf3ff */
    }
    80% {
        background: linear-gradient(to bottom, hsl(195, 100%, 98%), #edf3ff);
    }
    85% {
        background: linear-gradient(to bottom, #edf3ff, hsl(195, 100%, 98%));
    }
    90% {
        background: linear-gradient(to bottom, hsl(195, 100%, 98%), #edf3ff);
    }
    95% {
        background: linear-gradient(to bottom, #edf3ff, hsl(195, 100%, 98%));
    }
}


.container {
    flex: 1;
}

/* Стили для шапки */
header {
    background-color: #288cf7;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    max-width: 150px;
}

.description p {
    color: #fff;
    font-size: 18px;
}

/* Стили для кнопок перехода */
.landing-buttons {
    text-align: center;
}

.landing-buttons button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

/* Стили для кнопки входа */
.login-button {
    position: fixed;
    top: 30px;
    right: 60px;
}

.login-button button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

/* Добавляем ключевые кадры для анимации */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px); /* Начальное смещение вверх */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Смещение к исходной позиции */
    }
}

/* Стили для описания приложения */
.app-description {
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-out; /* Применяем анимацию */
}

.app-description h2 {
    color: #800080; /* Фиолетовый */
    font-size: 28px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.app-description p {
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 1.8;
    color: #333;
}

.app-description ul {
    list-style-type: none;
    margin-bottom: 25px;
}

.app-description ul li {
    margin-bottom: 15px;
    font-size: 18px;
}

/* Цвета для разных элементов списка */
.app-description ul li:nth-of-type(1) {
    color: #008000; /* Темно-зеленый */
}

.app-description ul li:nth-of-type(4) {
    color: #ff0000; /* Красный */
}

.app-description ul li:nth-of-type(5) {
    color: #000080; /* Темно-синий */
}

.app-description ul li:nth-of-type(6) {
    color: #ff8c00; /* Темно-оранжевый */
}

/* Цвета для разных элементов списка */
.app-description ul li:nth-of-type(2) {
    color: #0000ff; /* Синий */
}

.app-description ul li:nth-of-type(3) {
    color: #e0115f; /* Рубиновый */
}



/* Стили для секции с кнопками и текстом описания */
.landing-description {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.landing-description h2 {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid transparent;
    margin-left: 450px; /* Устанавливаем отступ слева */
    animation: typing 20s cubic-bezier(0.5, 0, 0.5, 1) infinite, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    0% {
        width: 0;
    }
    25% {
        width: 25%;
    }
    50% {
        width: 50%;
    }
    75% {
        width: 75%;
    }
    100% {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: transparent;
    }
}



/* Стили для навигационного меню */
.main-menu {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.main-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-menu ul li {
    display: inline;
}

.main-menu ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.main-menu ul li a:hover {
    background-color: #ddd;
}


/* Стили для футера */
footer {
    background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
        margin-top: auto;
}

.company-info p {
    margin-bottom: 10px;
}

.additional-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.additional-links a:hover {
    text-decoration: underline;
}

.top-students {
    text-align: center;
}

.student-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Изменено с center на flex-start */
    gap: 20px;
    flex-direction: row; /* Добавлено */
    margin-left: 10px;
}

.student {
    width: 200px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.student img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.student-info {
    text-align: left;
}

.student-info p {
    margin: 5px 0;
}

.student-info p strong {
    font-weight: bold;
}




/* Стили для блока студента */
.student {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}

/* Добавляем стили для изображения профиля студента */
.student img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/* Стили для информации о студенте */
.student-info {
    font-size: 16px;
    margin-bottom: 20px;
}

.student-info p {
    margin-bottom: 5px;
}

/* Общий стиль для формы регистрации */
.registration-form {
    max-width: 400px;
    margin: 20px auto; /* Уменьшенный отступ */
    padding: 20px; /* Уменьшенный отступ */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    position: relative; /* Добавлено для позиционирования пульсации */
    overflow: hidden; /* Добавлено для пульсации */
    box-shadow: 0 0 0 10px rgba(0, 127, 255, 0.7);
}

.registration-form h2 {
    text-align: center;
    margin-bottom: 30px; /* Увеличенный отступ */
}

.registration-form form {
    display: flex;
    flex-direction: column;
}

.registration-form label {
    font-weight: bold;
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"],
.registration-form select {
    padding: 10px;
    margin-bottom: 1px; /* Одинаковый отступ */
    border-radius: 5px;
    border: 1px solid #ccc;
}

.registration-form input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
     background-color: #007FFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.registration-form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Стили для опций в выпадающих списках */
.registration-form select option {
    padding: 10px;
}

/* Стили для светящейся границы */
.registration-form::before,
.registration-form::after {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 5px;
    box-shadow: 0 0 0 10px rgba(173, 216, 230, 0.5); /* Светло-голубая граница */
    animation: pulse 2s infinite; /* Анимация */
}

.registration-form::before {
    animation-delay: 0.5s; /* Задержка для первого пульсации */
}

.registration-form::after {
    animation-delay: 1s; /* Задержка для второго пульсации */
}

.registration-form:hover::before,
.registration-form:hover::after {
    background-color: transparent;
    animation: none;
    display: none;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}



/* Добавляем стили для формы авторизации */
.login-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0 10px rgba(0, 127, 255, 0.7); /* Светло-голубая граница */
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Дополнительные стили для кнопки "Войти" */
.login-form input[type="submit"] {
    background-color: #007FFF; /* Светло-голубой цвет */
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Плавные переходы */
}

.login-form input[type="submit"]:hover {
    background-color: #00cfff; /* Темно-светло-голубой цвет при наведении */
}

/* Стили для светящейся границы */
.login-form::before,
.login-form::after {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 5px;
    box-shadow: 0 0 0 10px rgba(173, 216, 230, 0.5); /* Светло-голубая граница */
    animation: pulse 2s infinite; /* Анимация */
}

.login-form::before {
    animation-delay: 0.5s; /* Задержка для первого пульсации */
}

.login-form::after {
    animation-delay: 1s; /* Задержка для второго пульсации */
}

.login-form:hover::before,
.login-form:hover::after {
    background-color: transparent;
    animation: none;
    display: none;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}



/* Стили для блока с публикациями */
.publications {
    padding: 20px;
}

/* Стили для публикаций */
.publication {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.publication:hover {
    transform: translateY(-5px);
}

.publication-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.publication-header span {
    font-size: 14px;
    color: #666;
}

.publication-user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.publication-description {
    margin-bottom: 15px;
}

.publication-section {
    margin-right: 15px;
    padding: 6px 10px;
    border-radius: 20px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

.like-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.like-button:hover {
    background-color: #218838;
}

/* Стили для заголовка публикации */
.publication-header {
    margin-bottom: 15px; 
}

/* Стили для даты и времени публикации */
.publication-date {
    font-size: 14px;
    color: #666; 
}

/* Стили для имени пользователя */
.publication-user {
    font-size: 18px;
    font-weight: bold; 
    color: #333; 
}

/* Стили для факультета */
.publication-faculty {
    font-size: 16px;
    color: #555; 
}

/* Стили для группы */
.publication-group {
    font-size: 16px;
    color: #555;
}

/* Стили для количества звездочек */
.publication-stars {
    font-size: 16px;
    color: #555; 
}


/* Обновленные стили для фильтров */
.filters {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filters h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #343a40;
}

.filter-option {
    margin-bottom: 20px;
}

.filter-option label {
    font-weight: bold;
    color: #343a40;
}

.filter-option select, .filter-option input[type="text"] {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ced4da;
    background-color: #fff;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.filter-option select:focus, .filter-option input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.filter-option button {
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-option button:hover {
    background-color: #0056b3;
}


/* Стили для кнопок */
.button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container {
    display: flex;
    align-items: center;
}

.button:hover {
    background-color: #0056b3;
}

/* Стили для кнопки "Добавить публикацию" */
.add-publication-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20px; 
    margin-top: 10px; 
}

.add-publication-button:hover {
    background-color: #45a049; 
}

/* Дополнительные стили для улучшения внешнего вида кнопки "Добавить публикацию" */
.add-publication-button {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
}

.add-publication-button:active {
    background-color: #3e8e41; 
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

/* Стили для кнопки "Фильтр" */
#filter-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f44336; 
    color: white; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px; 
    margin-top: 10px; 
}

#filter-button:hover {
    background-color: #d32f2f; 
}

/* Дополнительные стили для улучшения внешнего вида кнопки "Фильтр" */
#filter-button {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
}

#filter-button:active {
    background-color: #b71c1c;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); 
}

/* Размещение кнопки "Фильтр" */
.filter {
    text-align: right; 
    margin-right: 20px; 
    margin-left: 10px; 
}

/* Стили для списка фильтров */
.filter-options {
    display: inline-flex;
    align-items: center;
}

.filter-options select {
    padding: 8px; 
    margin-left: 10px; 
    border-radius: 5px;
    border: 1px solid #ccc; 
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.filter-options select:focus {
    border-color: #2196F3; 
}

/* Дополнительные стили для улучшения внешнего вида элементов выбора */
.filter-options select {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
}

/* Стили для кнопки "Поиск" */
#search-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #2196F3; 
    color: white; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-button:hover {
    background-color: #1976D2; 
}

/* Дополнительные стили для улучшения внешнего вида кнопки "Поиск" */
#search-button {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
}

#search-button:active {
    background-color: #0D47A1; 
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); 
}

/* Размещение кнопки "Поиск" */
.search {
    text-align: right; 
    margin-top: 10px;
    margin-left: 20px;
}

/* Стили для строки ввода для поиска */
#search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    width: 200px; 
    transition: border-color 0.3s ease;
}

#search-input:focus {
    border-color: #2196F3; 
}

/* Дополнительные стили для улучшения внешнего вида строки ввода для поиска */
#search-input {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
}



/* Стили для рейтинга студентов */
.ranking {
    margin-top: 20px;
}

.ranking h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
    font-size: 24px;
}

#student-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.student-info {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.student-info:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.student-info .ranking-number {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    color: #007bff;
}

.student-info .student-name {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.student-info .faculty,
.student-info .group,
.student-info .period {
    margin: 5px 0;
    font-size: 16px;
    color: #666;
}

.student-info a {
    text-decoration: none;
    color: #333;
}

.student-info a:hover {
    color: #007bff;
}


/* Стили для профиля студента */
.student-profile {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.student-profile h2 {
    text-align: center;
    margin-bottom: 20px;
}

.profile-picture {
    text-align: center;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-details {
    margin-bottom: 20px;
}

.profile-details p {
    margin-bottom: 10px;
}

/* Стили для значков достижений */
.achievement-icon {
    font-size: 24px;
    margin-right: 10px;
}

.achievement-count {
    font-size: 16px;
}

/* Стили для фотографий публикаций */
.publication-photos {
    margin-top: 30px;
}

.publication-photo {
    display: inline-block;
    margin-right: 10px;
}

.publication-photo img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.publication-photo img:hover {
    transform: scale(1.1);
}



/* Стили для блока с информацией о факультетах и кафедрах */
.university-info {
    padding: 20px;
    background-color: #ffffff;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.university-info h2 {
    margin-bottom: 10px;
}

/* Стили для кнопки перехода на страницу рейтинга студентов */
.university-students {
    text-align: center;
    margin-top: 20px;
}

.university-students button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.university-students button:hover {
    background-color: #0056b3;
}

/* Стили для формы поиска студента */
.search-student {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.search-student h2 {
    text-align: center;
    margin-bottom: 10px;
}

.search-student form {
    display: flex;
    flex-direction: column;
}

.search-student label {
    font-weight: bold;
    margin-bottom: 5px;
}

.search-student input[type="text"],
.search-student input[type="submit"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-student select {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.search-student button[type="button"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-student button[type="button"]:hover {
    background-color: #0056b3;
}

.search-results {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-results h2 {
    margin-bottom: 10px;
    color: #007bff;
    font-size: 20px;
}

.search-results ul {
    list-style-type: none;
    padding: 0;
}

.search-results li {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.search-results li:hover {
    color: #0056b3; /* Изменен цвет текста */
    transition: color 0.3s; /* Добавлено плавное изменение цвета */
}

#resultsList {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#resultsList li {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    max-width: 300px;
    text-align: center;
}

#resultsList li:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color: #e0e0e0;
}





/* Стили для формы поиска университета */
.search-university {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.search-university h2 {
    text-align: center;
    margin-bottom: 20px;
}

.search-university form {
    display: flex;
    flex-direction: column;
}

.search-university label {
    font-weight: bold;
}

.search-university input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-university button[type="button"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-university button[type="button"]:hover {
    background-color: #0056b3;
}

/* Стили для списка студентов */
.student-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.student-list li {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.student-list img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.student-list p {
    margin: 5px 0;
}

.student-list a {
    text-decoration: none;
    color: #333;
}

.student-list a:hover {
    color: #007bff;
}

.student-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.container h1 {
    text-align: center;
    margin-top: 20px;
}

/* Стили для блока с профилем студента */
.student-profile {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

/* Стили для заголовка профиля студента */
.student-profile h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #007bff;
}

/* Стили для контейнера с информацией о студенте */
.student-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Стили для изображения профиля студента */
.profile-picture {
    flex: 0 0 200px;
    text-align: center;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

/* Стили для блока с деталями профиля студента */
.profile-details {
    flex: 1;
    padding: 10px;
}

/* Стили для формы загрузки фотографии профиля */
.profile-picture form {
    margin-top: 10px;
    text-align: center;
}

.profile-picture input[type="file"] {
    display: none;
}

.profile-picture input[type="submit"] {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.profile-picture input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Стили для кнопок загрузки фото профиля */
.upload-button, .submit-button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.upload-button:hover, .submit-button:hover {
    background-color: #0056b3;
}

/* Стили для кнопки выбора файла */
.upload-button {
    margin-right: 10px;
}

#apply-filters {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#apply-filters:hover {
    background-color: #0056b3;
}

/* Стили для изображений студентов */
.student-info img {
    width: 100px; /* Ширина изображения */
    height: 100px; /* Высота изображения */
    border-radius: 50%; /* Округление углов для создания круглого изображения */
    object-fit: cover; /* Управление масштабированием и обрезкой изображения */
    margin-right: 10px; /* Отступ справа от изображения */
}

.add-publication {
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #f0f0f0; /* Светло-серый фон */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-publication form {
    width: 100%;
}

.add-publication label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.add-publication select,
.add-publication input[type="number"],
.add-publication textarea,
.add-publication input[type="file"],
.add-publication input[type="submit"] {
    width: calc(100% - 16px); /* Subtract padding from width */
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.add-publication input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-publication input[type="submit"]:hover {
    background-color: #45a049;
}

/* Стили для фотогалереи */
.gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.gallery img {
    width: calc(33.33% - 10px);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Стили для центрирования текста и улучшения оформления */
.landing-info {
    text-align: center;
    padding: 20px;
}

.landing-info h1 {
    color: #007bff;
    font-size: 32px;
    margin-bottom: 10px;
}

.landing-info p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

/* Стили для кнопки "Наши студенты" */
.students-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.students-button:hover {
    background-color: #0056b3;
}

.faculty-department-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.faculty-department-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.faculty-department-container p {
    text-align: center;
    max-width: 600px;
    margin-bottom: 20px;
}

.main-photo-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.main-photo-container img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Стили для анимации заголовка */
.animated-heading {
    overflow: hidden; /* Обрезаем текст, который выходит за пределы элемента */
    display: inline-block; /* Определяем элемент как блочный с возможностью управлять размерами и положением */
}

/* Анимация для каждой буквы */
.animated-heading > span {
    display: inline-block; /* Определяем элемент как блочный с возможностью управлять размерами и положением */
    opacity: 0; /* Начальная невидимость буквы */
    transform: translateY(100%); /* Сдвигаем букву вниз на 100% своей высоты */
    animation: letter-bounce 0.5s forwards; /* Анимация для каждой буквы */
    animation-delay: calc(0.1s * var(--index)); /* Задержка анимации каждой буквы */
}

/* Ключевые кадры анимации для каждой буквы */
@keyframes letter-bounce {
    to {
        opacity: 1; /* Проявляем букву */
        transform: translateY(0); /* Возвращаем букву в исходное положение */
    }
}

/* favorite */
/* Стили для основного контейнера */
main {
    padding: 20px;
}

/* Стили для секций */
section {
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

section ul {
    list-style-type: none;
    padding-left: 0;
}

section ul li {
    margin-bottom: 10px;
}

section ul li:last-child {
    margin-bottom: 0;
}

section ul li a {
    color: #007bff;
    text-decoration: none;
}

section ul li a:hover {
    text-decoration: none;
    color: #0056b3;
}

/* Верификация */
.verification {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.verification_checkbox {}

table.verification_table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table.verification_table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table.verification_table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table.verification_table th,
table.verification_table td {
  padding: .625em;
  text-align: center;
}

table.verification_table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table.verification_table {
    border: 0;
  }

  table.verification_table caption {
    font-size: 1.3em;
  }

  table.verification_table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table.verification_table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table.verification_table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table.verification_table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table.verification_table td:last-child {
    border-bottom: 0;
  }
}


#toggles *,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*transition*/
    -webkit-transition: .25s ease-out;
    -moz-transition: .25s ease-out;
    -o-transition: .25s ease-out;
    transition: .25s ease-out;
    outline: none;
    font-family: Helvetica Neue, helvetica, arial, verdana, sans-serif;
}


#toggles {
    width: 60px;
    margin: 50px auto;
    text-align: center;
}

.ios-toggle,
.ios-toggle:active {
    position: absolute;
    top: -5000px;
    height: 0;
    width: 0;
    opacity: 0;
    border: none;
    outline: none;
}

#toggles .checkbox-label {
    display: block;
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1em;
    line-height: 1em;
    width: 100%;
    height: 36px;
    /*border-radius*/
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    background: #288cf7;
    cursor: pointer;
}

.checkbox-label:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    line-height: 1em;
    text-indent: 40px;
    height: 36px;
    width: 36px;
    /*border-radius*/
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    top: 0px;
    left: 0px;
    right: auto;
    background: white;
    /*box-shadow*/
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px rgb(0, 0, 0);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px rgb(0, 0, 0);
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px rgb(0, 0, 0);
}

.checkbox-label:after {
    content: attr(data-off);
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: -300px;
    padding: 10px;
    height: 100%;
    width: 300px;
    text-align: right;
    color: #288cf7;
    white-space: nowrap;
}

.ios-toggle:checked+.checkbox-label {
    /*box-shadow*/
    -webkit-box-shadow: inset 0 0 0 20px #d9f6ff, 0 0 0 2px #d9f6ff;
    -moz-box-shadow: inset 0 0 0 20px #d9f6ff(19, 191, 17, 1), 0 0 0 2px #d9f6ff;
    box-shadow: inset 0 0 0 20px #d9f6ff(19, 191, 17, 1), 0 0 0 2px #d9f6ff;
}

.ios-toggle:checked+.checkbox-label:before {
    left: calc(100% - 36px);
    /*box-shadow*/
    -webkit-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3);
    box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3);
}

.ios-toggle:checked+.checkbox-label:after {
    content: attr(data-on);
    left: 60px;
    width: 36px;
}

/* BLUE CHECKBOX */

#checkbox3+.checkbox-label {
    /*box-shadow*/
    -webkit-box-shadow: inset 0 0 0 0px #1fc1c8, 0 0 0 2px lightgreen;
    -moz-box-shadow: inset 0 0 0 0px #1fc1c8, 0 0 0 2px lightgreen;
    box-shadow: inset 0 0 0 0px #1fc1c8, 0 0 0 2px lightgreen;
}

#checkbox3:checked+.checkbox-label {
    /*box-shadow*/
    -webkit-box-shadow: inset 0 0 0 20px #1fc1c8, 0 0 0 2px #1fc1c8;
    -moz-box-shadow: inset 0 0 0 20px #1fc1c8, 0 0 0 2px #1fc1c8;
    box-shadow: inset 0 0 0 20px #1fc1c8, 0 0 0 2px #1fc1c8;
}

#checkbox3:checked+.checkbox-label:after {
    color: #1fc1c8;
}

/* Стили для раздела "Посетители" */
.visitors {
    background-color: #f9f9f9;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.visitors h2 {
    color: #800080; /* Фиолетовый */
    font-size: 24px;
    margin-bottom: 15px;
}

.visitors ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Разрешаем перенос элементов списка на следующую строку */
    justify-content: center; /* Выравниваем элементы списка по центру */
}

.visitors ul li {
    font-size: 20px; /* Увеличение размера текста */
    margin-bottom: 20px; /* Увеличение отступа между элементами */
    display: flex;
    align-items: center; /* Выравнивание элементов списка по вертикали */
    margin-right: 20px; /* Отступ между студентами */
}

.visitors ul li img {
    width: 60px; /* Увеличение размера аватарки */
    height: 60px; /* Увеличение размера аватарки */
    border-radius: 50%; /* Для круглой формы аватарки */
    margin-right: 10px; /* Увеличение отступа между аватаркой и текстом */
}






















