{% extends 'base.html.twig' %}
{% block title %}
Добавление вуза
{% endblock %}
{% block body %}
    <div class="university-info">
        <form method="post">
            <h2>Добавление университета</h2>
            <input type="text" id="name" name="name" placeholder="Введите название университета" required><br>
            <input type="text" id="address" name="address" placeholder="Введите адрес университета" required><br>
            <input type="text" id="city" name="city" placeholder="Введите город университета" required><br><br>
            <label for="photo">Загрузить фото:</label><br>
            <input type="file" id="photo" name="photo" required><br><br>
            <button type="submit">Добавить университет</button>
        </form>
    </div>
    <script>

        for (let it of document.getElementsByClassName('add-group')) {
            it.addEventListener('click', ev => {
                const src = ev.target.parentElement.parentElement;
                const d = document.createElement('div')
                const i = document.createElement('input')
                i.name = 'gname'
                const btn = document.createElement('button')
                btn.dataset.kafedra = ev.target.dataset.kafedra
                btn.addEventListener('click', e => {
                    const k = e.target.dataset.kafedra
                    const t = e.target.parentElement.children.namedItem('gname').value;
                    fetch(`${baseUrl}/add/group/${k}?name=${t}`)
                })
                btn.innerHTML = 'Сохранить'
                d.appendChild(i)
                d.appendChild(btn)

                src.children.item(0).prepend(d)
            })
        }

        for (let it of document.getElementsByClassName('add-kafedra')) {
            it.addEventListener('click', ev => {
                const src = ev.target.parentElement.parentElement;
                const d = document.createElement('div')
                const i = document.createElement('input')
                i.name = 'kname'
                const btn = document.createElement('button')
                btn.dataset.faculty = ev.target.dataset.faculty
                btn.addEventListener('click', e => {
                    const k = e.target.dataset.faculty
                    const t = e.target.parentElement.children.namedItem('kname').value;
                    fetch(`${baseUrl}/add/kafedra/${k}?name=${t}`)
                })
                btn.innerHTML = 'Сохранить'
                d.appendChild(i)
                d.appendChild(btn)

                src.children.item(0).prepend(d)
            })
        }

        for (let it of document.getElementsByClassName('add-faculty')) {
            it.addEventListener('click', ev => {

                console.log(ev)
                const src = ev.target.parentElement.parentElement;
                const d = document.createElement('div')
                const i = document.createElement('input')
                i.name = 'uname'
                const btn = document.createElement('button')
                btn.dataset.university = ev.target.dataset.university
                btn.addEventListener('click', e => {
                    const k = e.target.dataset.university
                    const t = e.target.parentElement.children.namedItem('uname').value;
                    fetch(`${baseUrl}/add/faculty/${k}?name=${t}`)
                })
                btn.innerHTML = 'Сохранить'
                d.appendChild(i)
                d.appendChild(btn)

                src.children.item(0).prepend(d)
            })
        }

    </script>
    <style>
        .basic-in {
            width: 100%;
            height: 40px;
            font-size: 1.2em;
        }

        .faculty {
            margin: 10px 0;
        }

        .kafedra {
            margin-left: 20px;
        }

        .group {
            margin-left: 40px;
        }
    </style>
{% endblock %}