{% extends 'base.html.twig' %}
{% block body %}
    <div class="achievement-info">
        <form method="post">
            <h2>Добавление достижения студенту</h2>
            <label for="student_name">Имя студента:</label><br>
            <input type="text" id="student_name" name="student_name">
            <label for="achievement">Достижение:</label><br>
            <select id="achievement" name="achievement" required>
                <option value="" disabled selected>Выберите достижение</option>
                <option value="Наука">Наука</option>
                <option value="Спорт">Спорт</option>
                <option value="Искусство">Искусство</option>
            </select><br><br>
            <button type="submit">Добавить достижение</button>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        let students;
        fetch(`${baseUrl}/student/search/all`).then(res => res.json()).then(res =>{
            console.log(res.students)
            students = res.students
            $("#student_name").autocomplete({
                source: students.map(function (student) {
                    return student.name;
                }),
                minLength: 1
            });
        })

    </script>
{% endblock %}