{% extends 'base.html.twig' %}
{% block title %}
Достижения
{% endblock %}
{% block body %}
<div class="achievement-info">
    <h2>Отображение всех достижений студента</h2>
    <div id="achievementsDisplay">
        <ul>
            <li>Наука: Исследование нового материала</li>
            <li>Спорт: Победа на соревнованиях по футболу</li>
            <li>Искусство: Участие в выставке собственных работ</li>
            <li>Наука: Исследование нового материала</li>
            <li>Спорт: Победа на соревнованиях по футболу</li>
            <li>Искусство: Участие в выставке собственных работ</li>
            <li>Наука: Исследование нового материала</li>
            <li>Спорт: Победа на соревнованиях по футболу</li>
            <li>Искусство: Участие в выставке собственных работ</li>
            <li>Наука: Исследование нового материала</li>
            <li>Спорт: Победа на соревнованиях по футболу</li>
            <li>Искусство: Участие в выставке собственных работ</li>
            <li>Наука: Исследование нового материала</li>
            <li>Спорт: Победа на соревнованиях по футболу</li>
            <li>Искусство: Участие в выставке собственных работ</li>
            <li>Наука: Исследование нового материала</li>
            <li>Спорт: Победа на соревнованиях по футболу</li>
            <li>Искусство: Участие в выставке собственных работ</li><li>Наука: Исследование нового материала</li>
            <li>Спорт: Победа на соревнованиях по футболу</li>
            <li>Искусство: Участие в выставке собственных работ</li>


        </ul>
    </div>
</div>
{% endblock %}