{% extends 'base.html.twig' %}
{% block title %}
    Публикации
{% endblock %}
{% block body %}
    <div class="button-container">
        {% if app.user %}
            <button class="add-publication-button">Добавить публикацию</button>
        {% endif %}
    </div>

    <div class="publications" id="publications-container">
    </div>
    <script src="{{ asset('js/search.js') }}"></script>
    <script>
        document.getElementsByClassName('add-publication-button').item(0).addEventListener('click', evt => {
            location.href = '/student/publish/add'
        })
    </script>
{% endblock %}