<header>
    <div class="logo">
        <img src="{{ asset('static/logo-new.png') }}" alt="Логотип">
    </div>
    <div class="description">
        <p>LifeCourse - ваш надежный гид в мире IT!</p>
        <p>Наше приложение  предоставляет широкий функционал для
            достижения успеха.</p>
    </div>
</header>

<nav class="main-menu">
    <ul>
        <li><a href="/">Главная страница</a></li>
        <li><a href="/feed">Лента</a></li>
        <li><a href="/rating">Рейтинг</a></li>
        <li><a href="/student/search">Поиск пользователей</a></li>
        <li><a href="/university/search">Поиск компаний</a></li>
        {% if app.user %}
            <li><a href="/favorites">Избранное</a></li>
            {% if 'ROLE_ADMIN' in app.user.roles %}
                <li><a href="/teacher/verify">Проверка преподавателей</a></li>
                <li><a href="/university/add">Добавление вуза</a></li>
                <li><a href="/achievement/add">Добавление достежния</a></li>
            {% endif %}
            {% if 'ROLE_TEACHER' in app.user.roles %}
                <li><a href="/achievement/add">Добавление достежния</a></li>
            {% endif %}
        {% endif %}
    </ul>
</nav>
<div class="login-button">
    {% if app.user %}
        {% if 'ROLE_STUDENT' in  app.user.roles %}
            <button onclick="location.href='/student/view/{{ app.user.id }}'">Профиль</button>
        {% else %}
            <button onclick="location.href='/university/view/{{ app.user.university.id ?? 1 }}'">Профиль</button>
        {% endif %}
        <button onclick="location.href='/logout'">Выйти</button>
    {% else %}
        <button onclick="location.href='/login'">Войти</button>
        <button onclick="location.href='/registration'">Регистрация</button>
    {% endif %}
</div>

