{% extends 'base.html.twig' %}
{% block title %}
Главная
{% endblock %}
{% block body %}
    <div class="landing-description">
        <div class="app-description">
            <h2>LifeCourse - ваш надежный гид в мире IT!</h2>
            <p>С LifeCourse пользователи могут:</p>
            <ul>
                <li>Получать ответы на интересующие их вопросы.</li>
                <li>Накапливать достижения и получать награды в виде звезд и медалей.</li>
                <li>Выделяться среди других пользователей, демонстрируя свои навыки и успехи.</li>
                <li>Стать заметными для работодателей и предложить себя для сотрудничества.</li>
            </ul>
            <p>LifeCourse также предоставляет возможности для преподавателей, соискателей, работодателей, родителей и
                абитуриентов. Мы стремимся к максимальной удобности, простоте и точности в нашем приложении, чтобы
                каждый
                пользователь мог достичь своих целей.</p>
            <p>Присоединяйтесь к LifeCourse сегодня и откройте для себя новые возможности
                профессионального развития!</p>
        </div>
    </div>

    <div style="display: flex; justify-content: center; margin: 10px">
        <h2>Топ пользователей</h2>
    </div>
    <div class="top-students" style="display: flex; flex-flow: wrap; gap: 10px; flex: 1; justify-content: center">
        {% for student in top_students %}
            <div class="student-container">
                <div class="student">
                    <a href="/student/view/{{ student.id }}">
                    <img src="{{ asset('images/' ~ student.photo) }}" width="150" alt="Фото" id="photo"/>
                    <div class="student-info">
                        <p>Фамилия: {{ student.lastname }}</p>
                    </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}